<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= config['main.css'] %>">
    <title><%= title %></title>
</head>
<body>
<div id="body"><%- body %></div>
<script src="<%= config['vendor.js'] %>"></script>
<script src="<%= config['main.js'] %>"></script>
</body>
</html>